
.aboutMeQuestion {
  width: 546px
}

.aboutMeTitle{
  width: 500px;
}

.textUnderline {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  margin-bottom: 1px;
}

.shadowBox {
  border-radius: 6px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
  .aboutMeQuestion {
    width: 100%; /* Cambia el ancho a ocupar todo el ancho disponible */
    max-width: 546px; /* Establece un ancho máximo */
    margin: 0 auto; /* Centra el elemento horizontalmente */
    padding: 0 15px; /* Agrega espaciado lateral para mejorar la legibilidad */
  }
}

.fade-in {
  animation: fadeIn ease 1s;
}

.fade-in-box {
  animation: fadeIn ease 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-up-element {
  animation: slide-up 1.2s ease-in-out;
}
