.logotipo {
  width: 710px;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .logotipo{
    width: 90%; /* Cambia el ancho a ocupar todo el ancho disponible */
    max-width: 550px; /* Establece un ancho máximo */
    margin: 0 auto; /* Centra el elemento horizontalmente */
  }
}

